
.carousel-container {
  position: relative;
  padding: 15px;
  max-width: 100%;
  margin: 0 auto;
}

.gallery-wrapper {
  overflow-x: auto;
}

.arrow-left,
.arrow-right {
  position: absolute;
  top: 0;
  left: 0;
  right: auto;
  bottom: 0;
  font-size: 20px;
  line-height: 250px;
  width: 40px;
  height: 335px;
  color: #fff;
  transition: all 600ms ease-in-out;
  background: linear-gradient(to left, transparent 0%, black 200%);
  opacity: 0.1;
  cursor: pointer;
  border: none;
}

.arrow-left:hover,
.arrow-right:hover {
  opacity: 1;
}

.arrow-right {
  right: 0;
  left: auto;
  text-align: right;
  background: linear-gradient(to right, transparent 0%, black 200%);
}

.gallery {
  display: flex;
  flex-flow: row nowrap;
  gap: 15px;
  margin-bottom: 100px;
}

.item {
  width: 480px;
  height: 304px;
  flex-shrink: 0;
  transition: all 600ms ease-in-out;
  opacity: 0.5;
}

.current-item {
  opacity: 1;
}

.gallery-wrapper::-webkit-scrollbar {
  display: none;
}

.gallery-wrapper {
  -ms-overflow-style: none;
  scrollbar-width: none; 
}

.subtitleRestaurant{
  font-size: 20;
  font-weight: 600;
  background-color: #7d1c1c;
  color: #fff;
}

@media(max-width: 583px){
  .item {
    width: 380px;
    height: 204px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 1;
  }

  .arrow-left,
.arrow-right {
  width: 40px;
  height: 235px;
}

.subtitleRestaurant{
  font-size: 16px;
  font-weight: 600;
}

}

@media(max-width: 460px){
  .item {
    width: 180px;
    height: 104px;
    flex-shrink: 0;
    transition: all 600ms ease-in-out;
    opacity: 0.5;
  }

  .arrow-left,
  .arrow-right {
    width: 40px;
    height: 135px;
  }

  .subtitleRestaurant{
    font-size: 14px;
    font-weight: 600;
  }
  
}