
.carousel{
  margin: 0 auto;
  max-width: 1246px;
  overflow: hidden;
}
.carousel-container {
  display: flex;
  position: relative; /* Adiciona posicionamento relativo para que os botões possam ser posicionados de forma absoluta */
  width: 100%;
  gap: 60px; /* Adiciona um espaçamento de 30 pixels entre os itens do carrossel */
  transition: transform 0.4s ease; /* Adiciona uma transição suave */
}

.carousel img {
  max-width: 600px;
  max-height: 400px; /* Define a largura máxima das imagens como 100% do tamanho do contêiner */
  height: auto; /* Mantém a proporção original da imagem */
  opacity: 0.8  ;
  border-radius: 5px;
}


.carousel-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 1rem;

}

.carousel-prev ,
.carousel-next {
  position: absolute;
  transform: translateY(-50%);
  background-color: #7d1c1c;
  width: 90px;
  height: 25px;
  color: whitesmoke;
  font-size: 15px; /* Tamanho de fonte relativo à largura da janela */
  border-radius: 15px;
}

.carousel-prev {
  left: 2rem;
}

.carousel-next {
  right: 2rem;
}
