body {
  overflow-x: hidden;
}

.iframeMaps {
  height: 440px;
}

iframe {
  height: 100%;
  width: 100%;
}

form {
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

form input,
form textarea {
  font-size: 11pt;
  border: none;
  width: 650px;
  height: 62px;
  left: 238px;
  top: 342px;
  background: #f2f2f2;
  border-radius: 50px;
}

form textarea {
  height: 224px;
}

form button {
  width: 234px;
  height: 62px;
  left: 553px;
  top: 876px;
  padding: 10px 20px;
  background-color: #0a0a0a;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 50px;
  margin-bottom: 5rem;
  font-size: 12pt;
  font-weight: bold;
}

#nome,
#email,
#telefone,
#mensagem {
  padding: 30px;
  color: #000000;
}

@media (max-width: 768px) {
  form input,
  form textarea {
    font-size: 11pt;
    border: none;
    width: 100%;
    max-width: 450px;
    height: 62px;
    left: 238px;
    top: 342px;
    background: #f2f2f2;
    border-radius: 50px;
  }
  form textarea {
    height: 224px;
  }
}

/* ---------- Estilos dinâmicos ---------- */
.required-popup::after {
  content: "*Campo obrigatório";
  position: absolute;
  top: 0;
  right: 0;
  color: #dfdfdf;
  font-size: 0.65rem;
  padding: 0.2rem 0.3rem;
  width: auto;
  display: block;
  background-color: #202020;
}

input.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}

input.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}

.visible {
  display: block;
}

textarea.error {
  border: solid 2px #992020;
  background-color: #ccbbbb;
  color: #662020;
}

textarea.correct {
  background-color: #bbccbb;
  border: solid 2px #206620;
  color: #206620;
}

#nome-ajuda,
#email-ajuda,
#telefone-ajuda,
#mensagem-ajuda {
  margin-top: 10px;
  margin-bottom: -10px;
  color: #787878;
}
