.homeArticle{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 1440;
  height: 635px;
  background-color: #7D1C1C;
  background-image: url(../assets/img/comidaMineira.jpg);


  background-size:cover;
  padding: 20vh 10vh 20vh 10vh;
  color:rgb(249, 249, 249);
  font-size: 20px;
  font-weight: 500;
  opacity: 0.7;
};

.home-mainContainer{
  display: flex;
  justify-content: center;
  align-items: center;
}

.home-title{
  text-align: center;
  margin: 10vh 0 0.5vh 0;
  font-weight:500;
}

.paragraph{
  text-align: center;
  font-weight: 500;
  padding: 0 9vh;
};
.home-input{ border: 2px solid red;

}