
main {
    margin-top: 150px;
    max-width: 1240px;
}
  
.filtro ul {
    display: flex;
    align-items: center;
}
  
.filtro li {
    margin-right: 10px;
}

/*Aqui começa a lista de restaurantes*/
main {
    margin-left: 160px;
}

.listagem-restaurantes {
    padding-top: 60px;
    display: flex;  
    align-items: center;
}

.listagem-restaurantes h3:hover {
    background-color: #333333;
    color: #ffffff;
    border-radius: 10px;
    
}
  
.img-restaurante {
    width: 480px;
    height: 304px;
    left: 160px;
    top: 416px;
}


 
.texto-restaurante {
    margin-left: 80px;
}

.texto-restaurante h3,
.texto-restaurante p {
    margin-top: 35px;
    margin-bottom: 35px;
}

.texto-restaurante h3 {
    color: inherit;
}


i {
  font-size: 20px;
}
  