
.retangulo {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    padding-top: 120px;
    width: 100%;
    height: 400px;
    left: 0px;
    top: 0px;
    right: 0px;
    background: #7D1C1C;
}

.titulo {
    color: #fff;
    font-weight: 400;
    font-size: 30px;
    line-height: 61px;  
}
  
.imagens {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.imagem1 {
    flex-basis: 33.33%;
    width: 30%;
    height: 30%;
    padding-top: 400px;
    
}
  
.imagem2 {
    flex-basis: 33.33%;
    width: 30%;
    height: 30%;
    
}

  /* Adicione uma quebra de linha após o terceiro item */
@media screen and (min-width: 768px) {
    .imagem1:nth-child(3n+1),
    .imagem2:nth-child(3n+1) 
}

.container-restaurante {
    display: flex;
  }
  
.texto {
    flex: 1;
    padding-top: 30px;
    text-align: left;
    margin-left: 70px;
    margin-right: 100px;
    margin-bottom: 30px;
    max-width: 1024px;
    overflow: auto;
}
  
  
.avaliacao-preco-mapa {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 100px;
}

.avaliacao {
    margin-top: 30px;
    margin-bottom: 10px;
}
  
.mapa {
    margin-top: 10px;

}

iframe {
    height: 280px;
    width: 500px;
}

@media (max-width: 768px) {
    .container-restaurante {
      flex-direction: column;
    }
  
    iframe {
        height: 200px;
        width: 400px;
    }

}