* {
  list-style: none;
  text-decoration: none;
  border: none;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0px 15px;
  text-align: center;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  /* width: 100vh;
  max-width: 1200px; */
}

header {
  margin: 0 auto;
  background: rgba(217, 217, 217, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
  /* justify-content: center;
  align-items: center;
  background-color: #f1f1f1; */
}

section h2 {
  font-size: 30pt;
  font-weight: bold;
  text-align: center;
  margin-top: 11rem;
}

header figure img {
  width: 150px;
  height: auto;
  margin-right: 100px;
}

.lista-header li,
.lista-footer {
  padding: 30px;
  display: inline-block;
  /* text-align: center; */
  line-height: 62px;
  font-size: 20px;
}

.lista-header ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.lista-header ul li {
  display: inline-block;
  margin-right: 10px;
}

.lista-header ul li a {
  text-decoration: none;
  color: black;
  padding: 5px;
}

.menu-mobile {
  display: none;
}
@media (max-width: 1000px) {
  .lista {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
}
nav ul li a:hover {
  background-color: #333333;
  color: #ffffff;
  border-radius: 10px;
}

.menu {
  display: inline-block;
  position: fixed;
  top: 0;
  width: 100%;
  left: 0;
}

/* "Aqui começa o css da página index.html" */
