/* * {
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  border: none;
}

.container {
  width: 100%;
  max-width: 1246px;
  margin: 0 auto;
  padding: 0px 15px;
}

.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header {
  background: rgba(217, 217, 217, 1);
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 9999;
}

nav li {
  padding: 30px;
  display: inline-block;
  line-height: 62px;
  font-size: 20px;
}
nav ul li a {
  color: black;
}
.menu-mobile {
  display: none;
}
@media (max-width: 800px) {
  .menu {
    display: none;
  }
  .menu-mobile {
    display: block;
  }
<<<<<<< HEAD

  
=======
} */
>>>>>>> 490713ed6a41d9e605e5a7449bac2b321c75c471
