
.parent {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 200px
}
  
.imagem1 {
    flex-basis: 33.33%;
    margin: 0;
    width: 5%;
    height: 5%;
}
  
.imagem2 {
    flex-basis: 33.33%;
    margin: 0;
    width: 5%;
    height: 5%;
}

  /* Adicione uma quebra de linha após o terceiro item */
@media screen and (min-width: 768px) {
    .imagem1:nth-child(3n+1),
    .imagem2:nth-child(3n+1) 
      clear: left;
}

